@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5rem;
  font-family: "Lobster", cursive;
  color: rgb(20, 10, 20);
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  color: rgb(20, 10, 20);
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  color: rgb(20, 10, 20);
  text-align: center;
}

h4 {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

h5 {
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

h6 {
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.contNavBar {
  padding: 25px 20px;
  background: rgba(0, 0, 0, 0) !important;
  transition: 1s;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navLinks {
  font-size: 1.8rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px 0px;
  margin: 0px 10px;
}

.navLinks:hover {
  color: rgb(241, 237, 10);
  transform: scale(1.1);
  transition: 0.5s;
  margin: 5px 10px;
}

/* navBar scroll */
.navBarBottom {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: fixed !important;
  z-index: 10 !important;
  transition: 1s;
  width: 100%;
  backdrop-filter: blur(4px);
}

.navBarBottom .navLinksBottom {
  color: rgb(20, 10, 20);
  transition: 1s;
}

.inicioCont {
  width: 100%;
  height: 100vh;
  background-image: url(../img/wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.contTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 10px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
}

.backFilter {
  width: 100%;
  height: 100%;
}

.TituloTyped {
  font-size: 5rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  filter: brightness(150%);
  filter: inherit;
}

.spanTitulo {
  color: rgb(255, 234, 4);
}

.textSubTyped {
  margin-top: 40px;
  color: rgb(255, 255, 255);
}

.containerInfo {
  background: linear-gradient(180deg, rgb(138, 136, 134) 0%, rgb(255, 255, 255) 100%);
  height: 100%;
  width: 100%;
}

.contInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 200px 50px;
}

.nombreInfo {
  margin-top: 30px;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  color: rgb(20, 10, 20);
}

.espInfo {
  margin: 20px 0px;
  font-size: 2rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(71, 71, 71);
}

.contFotoCv .fotoCv {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contFotoCv .fotoCv:hover {
  transform: scale(1.1);
  transition: 1s;
}

.infoFoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.infoFotoTitle {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
}

.conTituloHab {
  width: 100%;
  height: 100%;
  padding: 200px 0px;
}

.tituloHab {
  padding-bottom: 10px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
  text-align: center;
}

.contHabilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  padding: 100px 0px;
  background: linear-gradient(0deg, rgb(167, 164, 164) 0%, rgb(255, 255, 255) 100%);
}

.titulosHab {
  font-size: 3rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(20, 10, 20);
  margin: 30px 20px;
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.subHab {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.contProgresos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.contProgresos .divProgresos {
  margin: 10px 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.contFormacion {
  background: rgb(167, 164, 164);
  padding: 50px 20px;
}

.tituloFormacion {
  padding: 200px 0px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
  text-align: center;
}

.contCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.cardFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 100px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardFlex .cardImg {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

¡ .tituloCards {
  font-family: "Chakra Petch", sans-serif;
  font-size: 3rem;
  color: rgb(20, 10, 20);
  margin-bottom: 20px;
}

.subTituloCards {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
  color: rgb(71, 71, 71);
  padding: 10px 20px;
}

.contImgOrg {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.imgOrg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contCertificados {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(167, 164, 164) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 200px 20px;
}

.contExperiencia {
  background: linear-gradient(180deg, rgb(167, 164, 164) 0%, rgb(47, 47, 47) 100%);
}

.contCardsExp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.cardExp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 70px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(47, 47, 47);
  padding: 200px 20px;
}

.tituloContacto {
  padding: 200px 0px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
  text-align: center;
  color: rgb(255, 255, 255);
}

.contCardContacto {
  width: 100%;
  height: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.redesIcons {
  width: 30px;
  height: 30px;
}

.redesIcons:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.perfil-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}
.perfil-card.active .perfil-card__cnt {
  filter: blur(6px);
}
.perfil-card.active .perfil-card-message,
.perfil-card.active .perfil-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}
.perfil-card.active .perfil-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.perfil-card__img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-70%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px rgb(68, 197, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}
@media screen and (max-width: 576px) {
  .perfil-card__img {
    width: 120px;
    height: 120px;
  }
}
.perfil-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.perfil-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.perfil-card__nombre {
  font-weight: 700;
  font-size: 24px;
  color: rgb(68, 197, 252);
  margin-bottom: 20px;
}
.perfil-card__textoInfo {
  font-size: 25px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 20px;
}
.perfil-card__textoInfo strong {
  font-weight: 700;
}
.perfil-card-localidad {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}
.perfil-card-localidad__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}
.perfil-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.perfil-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 768px) {
  .perfil-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.perfil-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.perfil-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.perfil-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.perfil-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .perfil-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .perfil-card-social__item:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 576px) {
  .perfil-card-social__item {
    flex-wrap: wrap;
  }
}

.contProyectos {
  height: 100%;
  width: 100%;
  background: rgb(167, 164, 164);
}

.contImgProy {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.divImgTitles {
  margin: 10px 10px;
}

.imgButtonProy {
  width: 100%;
  height: 100%;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.imgButtonProy:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

.tituloProyecto {
  padding: 200px 0px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
  text-align: center;
}

.titulosImg {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2rem;
  margin: 10px 10px;
}

.ulFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.textFooter {
  font-size: 2rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 10px 20px;
}

.textFooter:hover {
  color: rgb(240, 225, 12);
  transition: 1s;
}

/*# sourceMappingURL=main.css.map */
