@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5rem;
  font-family: "Lobster", cursive;
  color: rgb(20, 10, 20);
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-family: "Noto Sans", sans-serif;
  color: rgb(20, 10, 20);
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
  color: rgb(20, 10, 20);
  text-align: center;
}

h4 {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

h5 {
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

h6 {
  font-size: 1.2rem;
  font-family: "Noto Sans", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.contNavBar {
  padding: 25px 20px;
  background: rgba(0, 0, 0, 0) !important;
  transition: 1s;
}

.navLinks {
  font-size: 1.8rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(24, 0, 64);
  padding: 10px 0px;
}

.navLinks:hover {
  color: rgb(203, 11, 11);
  transform: scale(1.1);
  transition: 0.5s;
  margin: 5px 10px;
}

/* navBar scroll */
.navBarBottom {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: fixed !important;
  z-index: 10 !important;
  transition: 1s;
  width: 100%;
}

.navBarBottom .navLinksBottom {
  color: rgb(20, 10, 20);
  transition: 1s;
}

.containerInfo {
  background: linear-gradient(180deg, rgb(138, 136, 134) 0%, rgb(255, 255, 255) 100%);
  height: 100%;
  width: 100%;
}

.contInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 50px;
}

.contFotoCv .fotoCv {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contFotoCv .fotoCv:hover {
  transform: scale(1.1);
  transition: 1s;
}

.infoFoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 100px;
}

.infoFotoTitle {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
}

.conTituloHab {
  width: 100%;
  height: 100%;
  padding: 300px 0px;
}

.tituloHab {
  padding-bottom: 10px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
  text-align: center;
}

.contHabilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  padding: 100px 0px;
  background: linear-gradient(0deg, rgb(167, 164, 164) 0%, rgb(255, 255, 255) 100%);
}

.titulosHab {
  font-size: 3rem;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(20, 10, 20);
  margin: 30px 20px;
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.subHab {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.contProgresos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.contProgresos .divProgresos {
  margin: 10px 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.contFormacion {
  background: rgb(167, 164, 164);
  padding: 50px 20px;
}

.tituloFormacion {
  padding: 200px 0px;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  transform: rotate(-3deg);
  text-align: center;
}

.contCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.cardFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardFlex .cardImg {
  width: 500px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tituloCards {
  font-family: "Noto Sans", sans-serif;
  font-size: 3rem;
  color: rgb(20, 10, 20);
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.c {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
  color: rgb(71, 71, 71);
  padding: 10px 20px;
}

/*# sourceMappingURL=main.css.map */
