.containerInfo{
    background: linear-gradient(180deg, rgba(138,136,134,1) 0%, rgba(255,255,255,1) 100%);
    height: 100%;
    width: 100%;
}
.contInfo{
    @include flex(row, space-evenly, center, wrap);
    padding: 200px 50px;
}
.nombreInfo{
    margin-top: 30px;
    font-size: 3rem;
    font-family: $font-especial;
    color: $colorT;
}
.espInfo{
    margin: 20px 0px;
    font-size: 2rem;
    font-family: $font-navbar;
    color: $colorGC;
}
.contFotoCv .fotoCv{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contFotoCv .fotoCv:hover{
    transform: scale(1.1);
    transition: 1s;
}
.infoFoto{
    @include flex(column, center, center, wrap);

}
.infoFotoTitle{
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: $font-especial;
    font-size: 7rem;
    transform: rotate(-3deg);
}